<div class="text-center">

    <div class="container-fluid">
      <div class="tab-content">
        <div id="tab0" class="tab-pane fade in active">
          <div class="container-fluid main-section text-left">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="/assets/Contact_Images/Saurabh_Top.jpeg" width="100%" alt="Profile image"
                  id="profile">
              </div>
              <div class="col-xs-8">
                <h2>Saurabh Agarwal&nbsp;&nbsp;|&nbsp;&nbsp; Corporate Trainer and Technology Specialist</h2>
                <hr class="top">
                <p>I am Corporate trainer and working as a technologist specialist having experience of more than 15 years
                  in
                  Microsoft Technologies.</p>
                <p>I am giving online training since 11 years</p>
                <ul>
                  <li>Expert in Angular 2, 4,6,8,9,10 version</li>
                  <li>Expert in C# and OOPS concepts. </li>
                  <li>Expert in MVC </li>
                  <li>Expert in ASP.NET </li>
                  <li>Expert in Design Pattern. </li>
                  <li>Advanced C# Concepts </li>
                  <li>.Net Core </li>
                  <li>Interview Preparations for Freshers and Experienced Professionals.</li>
                  <li>SQL SERVER</li>
                </ul>
              </div>
            </div>
  
            <div class="container" style="margin-top: 50px;">
              <p>If candidate is not able to clear the interviews and It would be guaranteed that they will clear the
                interviews in one month time after attending my courses. Candidate will get full of knowledge in every
                technology which he/she has registered.</p>
              <p>I have given the Corporate training in multinational organization. Candidate will get lots of knowledge
                and get the real time examples to understand the concepts easily.</p>
              <p>We can also setup demo class for the participants. <br><br>Thanks and Regards,<br />Saurabh
                Agarwal<br />Corporate Trainer and Technology
                Specialist<br />saurabh_srmcem@rediffmail.com<br />9971328227
              </p>
            </div>
          </div>
  
        </div>
  
  
        <div id="tab1" class="tab-pane fade">
          <div class="container-fluid main-section text-left">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="/assets/Contact_Images/Eleazer.jpeg" width="100%" alt="Profile image"
                  id="profile">
              </div>
              <div class="col-xs-8">
                <h2>Eleazer Patil&nbsp;&nbsp;|&nbsp;&nbsp; Angular Trainee</h2>
                <hr class="top">
                <p>I am glad to get trained by Saurabh</p>
                <p>I have never seen a Trainer with this much of excitement, passion to teach and fetch way to interpret
                  in user understandable language and concepts, following are few concepts</p>
                <ul>
                  <li>Components</li>
                  <li>Modules</li>
                  <li>Templates</li>
                  <li>Directives</li>
                  <li>Data binding </li>
                  <li>Services</li>
                  <li>Dependency injection</li>
                  <li>Routing</li>
                  <li>Lifecycle Hooks</li>
                </ul>
              </div>
            </div>
  
            <div class="container" style="margin-top: 50px;">
              <p>I would highly recommend to get trained by Saurabh<br><br>Thanks and Regards,<br />Eleazer
                Patil<br />Angular Trainee<br />e_patil@hotmail.com<br />98491 12345</p>
            </div>
          </div>
  
        </div>
        <div id="tab2" class="tab-pane fade">
          <div class="container-fluid main-section text-left">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="/assets/Contact_Images/Sourav.jpeg" width="100%" alt="Profile image"
                  id="profile">
              </div>
              <div class="col-xs-8">
                <h2>Sourav Datta&nbsp;&nbsp;|&nbsp;&nbsp; Angular Trainee</h2>
                <hr class="top">
                <p>I am glad to get trained by Saurabh</p>
                <p>I have never seen a Trainer with this much of excitement, passion to teach and fetch way to interpret
                  in user understandable language and concepts, following are few concepts</p>
                <ul>
                  <li>Components</li>
                  <li>Modules</li>
                  <li>Templates</li>
                  <li>Directives</li>
                  <li>Data binding </li>
                  <li>Services</li>
                  <li>Dependency injection</li>
                  <li>Routing</li>
                  <li>Lifecycle hooks</li>
                </ul>
              </div>
            </div>
  
            <div class="container" style="margin-top: 50px;">
              <p>I would highly recommend to get trained by Saurabh<br><br>Thanks and Regards,<br />Sourav
                Datta<br />Angular Trainee<br />s_datta@hotmail.com<br />98491 54321</p>
            </div>
          </div>
  
        </div>
        <div id="tab3" class="tab-pane fade">
          <div class="container-fluid main-section text-left">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="/assets/Contact_Images/Veda.jpeg" width="100%" alt="Profile image"
                  id="profile">
              </div>
              <div class="col-xs-8">
                <h2>Veda &nbsp;&nbsp;|&nbsp;&nbsp; Angular Trainee</h2>
                <hr class="top">
                <p>I am glad to get trained by Saurabh</p>
                <p>I have never seen a Trainer with this much of excitement, passion to teach and fetch way to interpret
                  in user understandable language and concepts, following are few concepts</p>
                <ul>
                  <li>Components</li>
                  <li>Modules</li>
                  <li>Templates</li>
                  <li>Directives</li>
                  <li>Data binding </li>
                  <li>Services</li>
                  <li>Dependency injection</li>
                  <li>Routing</li>
                  <li>Lifecycle hooks</li>
                </ul>
              </div>
            </div>
  
            <div class="container" style="margin-top: 50px;">
              <p>I would highly recommend to get trained by Saurabh<br><br>Thanks and Regards,<br />Veda<br />Angular
                Trainee<br />veda@hotmail.com<br />98491 54123</p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
    <h2 class="h1-responsive font-weight-bold">Meet our amazing team</h2>
    <h5 class="grey-text w-responsive mx-auto">Following is the Angular training batch details including contact numbers,
      social and professional media reference hyperlinks.</h5>
    <div class="container-fluid">
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5" *ngFor="let con of contacts, let i = index">
        <div class="mx-auto">
          <img [src]='con.imageUrl' class="img-circle" data-toggle="tab" [attr.href]="'#tab' + i">
        </div>
        <h4 class="font-weight-bold mt-4 mb-3">{{con.Name}}</h4>
        <p class="text-uppercase text-primary"><strong>{{con.Designation}}</strong></p>
        <p class="grey-text">{{con.Phone}}</p>
        <ul class="list-unstyled mb-0">
  
          <a class="p-2 fa-lg fb-ic" [href]='con.fUrl' target="_blank">
            <i class="fa fa-facebook-f mr-1"></i>
          </a>
  
          <a class="p-2 fa-lg tw-ic" [href]='con.tUrl' target="_blank">
            <i class="fa fa-twitter mr-1"></i>
          </a>
  
          <a class="p-2 fa-lg ins-ic" [href]='con.lUrl' target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </ul>
      </div>
    </div>
  </div>