<nav class="navbar navbar-inverse"> 
  <div class="container-fluid">
    <div clas="container-fluid">
      <a class="navbar-brand" href="#">Training and E-Commerce</a>
    </div>

<ul class="nav navbar-nav">
  <li class="active">
    <a routerLink="Home" routerLinkActive="active">Home</a>
  </li>
  <li class="active">
    <a routerLink="Products" routerLinkActive="active">Products</a>
  </li>
  <li class="active">
    <a routerLink="Users" routerLinkActive="active">Users</a>
  </li>
  <!-- <li class="active">
    <a routerLink="UsersDetail" routerLinkActive="active">Users</a>
  </li> -->
  <li class="active">
    <a routerLink="Post" routerLinkActive="active">Post</a>
  </li>
  <li class="active">
    <a routerLink="Album" routerLinkActive="active">Albums</a>
  </li>
  <li class="active">
    <a routerLink="Contact" routerLinkActive="active">Contact</a>
  </li>
  <li class="active">
    <a routerLink="Help" routerLinkActive="active">Help</a>
  </li>
  <li class="active">
    <a routerLink="Comments" routerLinkActive="active">Comments</a>
  </li>
  <li class="active">
    <a routerLink="About" routerLinkActive="active">About</a>
  </li>
  <li class="active">
    <a routerLink="Feedback" routerLinkActive="active">Feedback</a>
  </li>
  <li class="active">
    <a routerLink="CreateFeedback" routerLinkActive="active">CreateFeedback</a>
  </li>
  <li class="active">
    <a routerLink="Queries" routerLinkActive="active">Queries</a>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>

    <a routerLink="SignUp" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>Sign Up</a>

  </li>
  <!-- <li>
      <a routerLink="/Login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>Login In</a>
  </li> -->

  <li>
    <a routerLink="logout" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span>Logout Out</a>
   </li>
   
   </ul>
  </div>
</nav>

<router-outlet></router-outlet>